@font-face {
  font-family: 'TheSerif HP4 SemiLight';
  src: url('../assets/fonts/TheSerif-HP4SeLig.woff') format('woff');
}
@font-face {
  font-family: 'TheSansOsF SemiLight';
  src: url('../assets/fonts/TheSansOsF-SemiLight.woff') format('woff');
}
